body {
  font-family: 'Libertine', serif;
  font-feature-settings: "liga", "dlig";
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Biolinum', sans-serif;
}


@font-face {
  font-family: Biolinum;
  src: url("../fonts/LinBiolinum_R.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Biolinum;
  src: url("../fonts/LinBiolinum_RB.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Biolinum;
  src: url("../fonts/LinBiolinum_RI.woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Biolinum;
  src: url("../fonts/LinBiolinum_RBI.woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Libertine;
  src: url("../fonts/LinLibertine_R.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Libertine;
  src: url("../fonts/LinLibertine_RB.woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Libertine;
  src: url("../fonts/LinLibertine_RI.woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Libertine;
  src: url("../fonts/LinLibertine_RBI.woff");
  font-weight: bold;
  font-style: italic;
}




a:any-link {
  color: #005D8F;
  text-decoration: none;
}
a:any-link:hover {
  color: #0088cc;
  text-decoration: underline;
}

.resizable {
  resize: both;
  overflow: scroll;
  border: 2px #ddd solid;
  padding: 10px;
  position: relative;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.resizable *, .resizable * * {
  font-size: 80% !important;
}

.slide  .resizable img[src$="svg"] {
  width: auto !important;
}

.slide img[src$="svg"] {
  max-height: 80vh;
}
.slide .resizable  img {
  display: inline !important;
  margin-bottom: 0 !important;

}

.resizable::after {
  content: "resize";
  background-color: #EA7600;
  color: white;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  left: 0;
  font-family: sans-serif;
  font-variant: small-caps;
}

#booktitle {
  border-bottom: 1px solid #EEEEEE;
}

header {

}

article {
  padding-top: 80px;
}

body, p, li, dt, dd {
  font-size: 18px;
  line-height: 1.5 ;
}

pre {
  font-size: 15px;
  line-height: 1.5;
}

.example.twopane pre {
  width: 42%;
  float:left;
}

.deck-container div .example.twopane pre {
  font-size: 20px;
}

pre.left {
  border-right: 1px #ddd dashed ;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
pre.right {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

a[name]:before {
   content: "";
}

li, dt, dd, td, th {
  font-size: 18px;
  line-height: 1.4;
}


div.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row82 {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 20px;
  grid-template-areas: "main sidebar";

  #sidebar {
    grid-area: sidebar;
  }
}




.icon-plus, .icon-minus {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  vertical-align: text-top;
  margin-right: 0.3em;
}

.icon-plus::before {
  content: "+";
}
.icon-minus::before {
  content: "-";
}


img {
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: min(100vh, 100%);
  max-height: 100vh;

}


.table-bordered {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-collapse: collapse;

  th, td {
    border: 2px solid #ddd;
    padding: 3px 10px
  }
}

.table-striped {
  & tbody tr:nth-child(odd) td,
  & tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
  }
}

.table {
  & tbody tr:hover td,
  & tbody tr:hover th {
    background-color: #f5f5f5;
  }
}

.pagination {
  ul {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    li {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      margin: 10px 0;
      box-sizing: border-box;
    }
    li:first-child::marker {
      content: "← ";
    }
    li:last-child::marker {
      content: "→ ";
    }
  }


}
