<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>CSS für Layout - als Präsentation </title>
	<meta name="viewport" content="width=1024, user-scalable=no">
	
	<!-- Replace path with correct path to deck.core.css. -->
	<link rel="stylesheet" href="/assets/css/deck.core.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/style-theme.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/transition-theme.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/deck.goto.css">
  <link rel="stylesheet" href="/assets/css/deck.status.css">
  <link rel="stylesheet" href="/assets/css/deck.hash.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/prettify.min.css">

  <style>
    /* google code prettify */
    li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
        list-style-type: inherit !important;
    }
    li.L1, li.L3, li.L5, li.L7, li.L9 {
      background: none repeat scroll 0 0 #EEFEEE;
    }
    ol.linenums {
      margin-left: 80px !important;
    }

    /* deck */
    h4.caption { color: #999999; }
    h4.caption small { color: black; }
    table.table-bordered {
      border-collapse: separate;
    }
    table.table-bordered td,
    table.table-bordered th
    {
      border: 2px white solid;
      padding: 2px;
    }

    .slide img[src$=svg] {
      width: 100%;
    }
  </style>
  
	
	<!-- Any other extension CSS files go here. -->
	
	<!-- Replace path with correct path to Modernizr file. -->
	<script src="/assets/js/modernizr.custom.js"></script>
</head>
<body class="deck-container">

<!-- Create any number of elements with class slide within the container -->
          <div class="slide"><h1>CSS für Layout</h1>
            <p>
            
              
              vorige Präsentation: <a href="/css-layout/rahmenbedingungen//slide.html">Rahmenbedingungen</a> |
                        
            <a href="/css-layout/layout/">zurück zum Buch-Kapitel [esc]</a>
            
              
             | Nächste Präsentation <a href="/css-layout/navigation//slide.html">Navigationsmenü</a>
            
            </p>
          </div>
	  <div class='slide'>
<p>Welche Gestaltungsmöglichkeiten bietet CSS nun?</p>

</div>
<div class='slide'>

<h3 id="text">Text</h3>

<p>Die Darstellung einer HTML-Seite durch den Browser erfolgt von oben nach unten, je nach Sprache von links nach rechts oder von rechts nach links. Dabei wird zwischen blockbildenden Tags und nicht-blockbildenden Tags unterschieden. In folgendem Beipiel wird
der blockbindente Tag <code>p</code> und der inline-Tag <code>span</code> verwendet.</p>

<pre><code>p { background-color:#CCCCCC; }
span { background-color:#FFFF66; }
</code></pre>

</div>
<div class='slide'>



<p>Bei der Darstellung im Browser wird der Text innheralb der Paragraphen je nach
zu verfügung stehenem Platz ‘'’umgebrochen’’’:</p>

<div class="resizable">
<p style="background-color:#ddd">Ich bin ein blockbildender Tag, nämlich ein Pargraph P.
I am a block level element - p for paragraph.  Ich bin ein blockbildender Tag, nämlich ein Pargraph P. I am a block level element - p for paragraph. <span style="background-color: red;">Und ein span
in der Mitte. And some inline content  right here.</span> Ich bin ein blockbildender Tag, nämlich ein Pargraph P.
I am a block level element - p for paragraph.
</p>

<p style="background-color:#ddd">Ich bin ein blockbildender Tag, nämlich ein Pargraph P.
I am a block level element - p for paragraph.  Ich bin ein blockbildender Tag, nämlich ein Pargraph P.  <span style="background-color: red;">Und ein span
in der Mitte. And some inline content  right here.</span> Ich bin ein blockbildender Tag, nämlich ein Pargraph P.

</p>
<p style="background-color:#ddd">Ich bin ein blockbildender Tag, nämlich ein Pargraph P. I am a block level element - p for paragraph. <span style="background-color: red;">Und ein span
in der Mitte. And some inline content  right here.</span> Ich bin ein blockbildender Tag, nämlich ein Pargraph P.
I am a block level element - p for paragraph.
</p>
</div>

</div>
<div class='slide'>

<h3 id="bild-im-text">Bild im Text</h3>

<p>Ein Bild wird dabei wie ein Wort im Text behandelt, und nicht etwa frei auf der Webseite positioniert.  Wenn Sie das Bild wie hier mitten in einen Absatz hinein setzen, ergibt das meist ein sehr hässliches Layout:</p>

<div class="resizable">
  <p style="background-color:#ddd">Ich bin ein blockbildender Tag, nämlich ein Pargraph P.
  I am a block level element - p for paragraph.  Ich bin ein blockbildender Tag, nämlich ein Pargraph P. I am a block level element - p for paragraph. 
  <img src="/images/css-layout/silhouette_hand.svg" style="height: 5ex;" alt="Hand!" />
  Das Bild der Hand stammt von <a href="https://commons.wikimedia.org/wiki/File:Silhouette_hand.svg">SimonWaldherr</a>.
  Ich bin ein blockbildender Tag, nämlich ein Pargraph P.
  I am a block level element - p for paragraph.
  </p>
</div>

</div>
<div class='slide'>

<h3 id="umbruch-von-wrtern">Umbruch von Wörtern</h3>

<p>Browser können lange Wörter in mehreren Sprachen umbrechen.
Die richtige Sprache stellt man mit dem Attribut <code>lang</code> ein,
z.B. einfach am html-Tag:  <code>&lt;html lang="de"&gt;</code>.</p>

<div class="resizable">
  <p style="background-color:#ddd">Das Rindfleisch­etikettierungs­überwachungs­aufgaben­übertragungs­gesetz (RflEttÜAÜG) war
    im Jahre 1999 im deutschen Bundesland Mecklenburg-Vorpommern Teil eines Gesetzesvorhabens.
    <br />
    Quelle: https://de.wikipedia.org/wiki/Rindfleischetikettierungs%C3%BCberwachungsaufgaben%C3%BCbertragungsgesetz
    <br />
    <kbd>overflow-wrap: normal;</kbd> ist der Standardwert.
  </p>

  <p style="background-color:#ddd" class="hyphenate">Das Rindfleisch­etikettierungs­überwachungs­aufgaben­übertragungs­gesetz (RflEttÜAÜG) war
    im Jahre 1999 im deutschen Bundesland Mecklenburg-Vorpommern Teil eines Gesetzesvorhabens.
    <br />
        Quelle: https://de.wikipedia.org/wiki/Rindfleischetikettierungs%C3%BCberwachungsaufgaben%C3%BCbertragungsgesetz
    <br />
    <kbd>overflow-wrap: break-word;</kbd>
  </p>
</div>

</div>
<div class='slide'>

<h2 id="width-und-auto">Width und Auto</h2>
<p>Normalerweise nimmt ein Block die maximal zur Verfügung stehende Breite ein. Mit
<code>width</code> kann eine andere Breite eines Blocks definiert werden:
Um einen Element zu zentrieren kann margin mit Wert auto verwendet werden, der den zur Verfügung stehenden Platz automatisch gleichmäßig verteilt.</p>

<div class="resizable">
<div style="width: 60%; margin: 0 auto; background-color: #ddd;">
<p>Der Margin wird links und rechts gleich verteilt mit "auto"</p>
<p><kbd>
div {<br />
  width: 60%;<br />
  margin-left:  auto;<br />
  margin-right: auto;<br />
}</kbd></p>
</div>
</div>

</div>
<div class='slide'>

<h2 id="float">Float</h2>
<p>Eine Möglichkeit aus der normalen Reihenfolge der Darstellung auszubrechen
bietet die Deklaration <code>float</code> mit den Werten <code>left</code> und <code>right</code>. Damit wird 
ein Element nach links bzw. rechts gesetzt, der Rest des Inhalts 
„rutscht nach oben“ und wird neben das Element gesetzt („umfließt das Element“).</p>

</div>
<div class='slide'>



<p>Hier sind drei Absätze zu sehen, die jeweils als Erstes ein Bild enthalten. 
Im ersten Absatz ist die Darstellung ganz normal – das Bild wird wie ein Wort 
im Text behandelt. Im zweiten Absatz „floated“ das Bild nach rechts, 
der Text rutscht links davon nach oben. Im dritten Absatz „floated“ 
das Bild nach links, der Text rutscht rechts davon nach oben.</p>

<p><a href="/images/css-layout/float.html">Beispiel als Demo-Seite</a></p>

<p><img src="/images/css-layout/float-img.png" alt="Bilder mit float" /></p>

</div>
<div class='slide'>



<p>Werden statt Bildern andere Elemente gefloatat muss ausserdem
noch eine Breite gesetzt werden:</p>

<p><a href="/images/css-layout/floatp.html">Beispiel als Demo-Seite</a></p>

<p>Float wurde vor der Einführung von Flexbox und CSS Grid für viele
Layout Aufgaben verwendet und war die Grundlage Grid-Systemen wie
z.B. <a href="https://getbootstrap.com/docs/4.0/layout/grid/#equal-width">Bootstrap</a>.</p>

<p>Mit der Einführung von CSS Grid ist die Verwendung von <code>float</code> für
diesen Zweck nicht mehr sinnvoll.</p>

</div>
<div class='slide'>

<h2 id="css-grid">CSS Grid</h2>

<p>Um das Layout einer ganzen Seite zu gestalten arbeitet man
mit einen Grid, einem Gitternetz das man über die ganze Seite legt.</p>

<p><img src="/images/css-layout/grid.png" alt="Layout mit CSS Grid" /></p>

<p>Das Grid wird normalerweise nicht angzeigt.  Die hier gezeigte Ansicht
mit den strichlierten Linien kann man in den Firefox Developertools mit
einem Klick auf das grid-symbol aktivieren:</p>

<p><img src="/images/css-layout/switch-on-grid.png" alt="Grid Ansicht einschalten in Firefox" /></p>

<p><a href="/images/cssgrid/">Demo-Seite</a></p>

</div>
<div class='slide'>

<h3 id="das-grid-definieren">Das Grid definieren</h3>

<p>Das Grid wird über die Breiter der Spalten (columns) und die Höhe der
Zeilen (rows) definiert:</p>

<div class="example">
<pre class="lang-css prettyprint linenums">
.page_container {
  display: grid;
  grid-template-columns: 270px 5fr 3fr;
  grid-template-rows: 60px 2fr 210px;
}
</pre></div>

<p>Dabei kann die  neue Maßeinheit <code>fr</code> (für fraction, Bruchteil) verwendet werden:
Nachdem von der Gesamtbreite die absoluten Breitenangaben abezogen wurden,
wird der restliche Platz im Verhältnis der fractions verteilt.</p>

<p>Also zum Beispiel:</p>

<ul>
  <li>1280px stehen für das oben definierte Grid in der Breite zur Verfügung</li>
  <li>-270px für die erste Spalte</li>
  <li>1010px verbleiben</li>
</ul>

<p>diese werden nun im Verhältnis 5 zu 3 auf Spalte zwei und drei verteilt:</p>

<ul>
  <li>5 * ( 1010px / 8 ) = 631.25px für die zweite Spalte</li>
  <li>3 * ( 1010px / 8 ) = 378.75px für die zweite Spalte</li>
</ul>

<p>Wenn Sie die Breite des Fensters für die <a href="/images/cssgrid/">Demo-Seite</a> ändern
werden die neu berechneten Werte angezeigt.</p>

</div>
<div class='slide'>

<h3 id="areas-definieren">Areas definieren</h3>

<p>Mit der Property <code>grid-template-areas</code> können nun Namen
für die einzelnen Felder des Grids vergeben werden:</p>

<div class="example">
<pre class="lang-css prettyprint linenums">
  grid-template-areas:
    &quot;.              headlineArea     subheadArea&quot;
    &quot;portraitArea   descriptionArea  codeArea&quot;
    &quot;.              factsArea        sourceArea&quot;;
</pre></div>

<p>Die drei Strings stehen für  die drei Zeilen des Grids.
Innerhalb der Strings gilt jedes Wort als ein Feld.
Die Felder sind also durch Whitespace getrennt.</p>

<p>Ein Punkt steht für ein Feld das frei bleibt.</p>

</div>
<div class='slide'>



<p>Eine Area kann auch mehrere Felder des Grids überspannen,
muss aber immer in Rechteck bilden (keine beliebige Tetris-Form):</p>

<div class="example">
<pre class="lang-css prettyprint linenums">
  grid-template-areas:
    &quot;headlineArea  headlineArea     subheadArea&quot;
    &quot;portraitArea  descriptionArea  codeArea&quot;
    &quot;factsArea     descriptionArea  sourceArea&quot;;
</pre></div>

</div>
<div class='slide'>

<h3 id="areas-mit-inhalt-belegen">Areas mit Inhalt belegen</h3>

<p>Nun kann der Inhalt in das Grid - genauer: in die Area - eingefüllt werden.
Das erfolgt rein in CSS, es ist keine Veränderung im HTML notwendig.</p>

<div class="example">
<pre class="lang-css prettyprint linenums">
header {
  grid-area: headlineArea;
  background-color: #EBBB5B;
  padding-top: 19px;
}

section#description {
  grid-area: descriptionArea;
  background-color: white;
}
</pre></div>

<p>Siehe auch <a href="https://css-tricks.com/snippets/css/complete-guide-grid/">CSS Tricks: Complete Guide to CSS Grid</a></p>

</div>
<div class='slide'>

<h2 id="absolute-positionierung">Absolute Positionierung</h2>

</div>
<div class='slide'>

<h2 id="flexbox">Flexbox</h2>

<p>Flexbox arbeitet nur in einer Dimension. Es wird für kleinere Komponenten
in der Seite eingesetzt, zum Beisiel für eine Bildergallerie.</p>

<p><a href="/images/flexbox/">Demo-Seite</a></p>

<p>Siehe auch <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">A Complete Guide to Flexbox</a></p>

</div>
<div class='slide'>

<h2 id="viele-methoden">Viele Methoden</h2>

<p>Wie Sie gesehen haben gibt es viele CSS-Properties die
das Layout beeinflussen.</p>
</div>
          <div class="slide"><h1>CSS für Layout</h1>
            <p>
            
              
              vorige Präsentation: <a href="/css-layout/rahmenbedingungen//slide.html">Rahmenbedingungen</a> |
                        
            <a href="/css-layout/layout/">zurück zum Buch-Kapitel [esc]</a>
            
              
             | Nächste Präsentation <a href="/css-layout/navigation//slide.html">Navigationsmenü</a>
            
            </p>
          </div>
	
<!-- Other extension HTML snippets go here, at the bottom of the deck container. -->
<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

<!-- Update these paths to point to the correct files. -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/deck.core.js"></script>
<script src="/assets/js/deck.hash.js"></script>
<script src="/assets/js/deck.goto.js"></script>
<script src="/assets/js/deck.status.js"></script>

<!-- Add any other extension JS files here -->
<script src="/assets/js/deck.escape.js"></script>

<script src="/assets/js/run_prettify.min.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.deck('.slide');
  });
</script>
</body>
</html>
