<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CSS für Layout - als Präsentation </title>
	<meta name="viewport" content="width=1024, user-scalable=no">
	
	<!-- Replace path with correct path to deck.core.css. -->
	<link rel="stylesheet" href="/assets/css/deck.core.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/style-theme.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/transition-theme.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/deck.goto.css">
  <link rel="stylesheet" href="/assets/css/deck.status.css">
  <link rel="stylesheet" href="/assets/css/deck.hash.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/prettify.min.css">

  <style>
    /* google code prettify */
    li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
        list-style-type: inherit !important;
    }
    li.L1, li.L3, li.L5, li.L7, li.L9 {
      background: none repeat scroll 0 0 #EEFEEE;
    }
    ol.linenums {
      margin-left: 80px !important;
    }

    /* deck */
    h4.caption { color: #999999; }
    h4.caption small { color: black; }
    table.table-bordered {
      border-collapse: separate;
    }
    table.table-bordered td,
    table.table-bordered th
    {
      border: 2px white solid;
      padding: 2px;
    }

    .slide img[src$=svg] {
      width: 100%;
    }
  </style>
  
	
	<!-- Any other extension CSS files go here. -->
	
	<!-- Replace path with correct path to Modernizr file. -->
	<script src="/assets/js/modernizr.custom.js"></script>
</head>
<body class="deck-container">

<!-- Create any number of elements with class slide within the container -->
          <div class="slide"><h1>CSS für Layout</h1>
            <p>
            
              
              vorige Präsentation: <a href="/css-layout/responsive//slide.html">Responsive Design</a> |
                        
            <a href="/css-layout/layout/">zurück zum Buch-Kapitel [esc]</a>
            
              
             | Nächste Präsentation <a href="/css-layout/navigation//slide.html">Navigationsmenü</a>
            
            </p>
          </div>
	  <div class='slide'>
<p>Welche Gestaltungsmöglichkeiten bietet CSS nun?</p>

</div>
<div class='slide'>

<h3 id="text">Text</h3>

<p>Die Darstellung einer HTML-Seite durch den Browser erfolgt von oben nach unten, je nach Sprache von links nach rechts oder von rechts nach links. Dabei wird zwischen blockbildenden Tags und nicht-blockbildenden Tags unterschieden. In Abbildung 33 wurden &lt;p&gt; und &lt;em&gt;-Tags verwendet und mit folgendem Stylesheet formatiert:</p>

<pre><code>p { background-color:#CCCCCC; }
em { background-color:#FFFF66; }
</code></pre>

<p>Bei der Darstellung im Browser kann der nicht-blockbildender Tag em dabei auf mehrere Zeilen verteilt werden und nimmt dann mehrere rechteckige Bereiche ein, der blockbildende Tag p wird immer als ein Rechteck dargestellt:</p>

<p><img src="/images/image128.png" alt="Abbildung 33: Darstellung von blockbildenden und nicht-blockbildenden Tags" /></p>

</div>
<div class='slide'>

<h3 id="bild-im-text">Bild im Text</h3>

<p>Ein Bild wird dabei wie ein Wort im Text behandelt, und nicht etwa frei auf der Webseite positioniert.  Wenn Sie das Bild wie in Abbildung 34 mitten in einen Absatz hinein setzen, ergibt das meist ein sehr hässliches Layout.</p>

<p><img src="/images/image130.png" alt="Abbildung 34: Bild mitten im Absatz" /></p>

</div>
<div class='slide'>

<h3 id="umbruch-von-wrtern">Umbruch von Wörtern</h3>

<p>Lange konnten Browser keine Wörter trennen und umbrechen, ein langes „Wort“
konnte dadurch die Breite eines Elements überschreiten. In Abbildung 35 können Sie sehen, wie Microsoft Internet Explorer 7.0 eine lange URL nicht umbricht.</p>

<p><img src="/images/image132.png" alt="Abbildung 35: Darstellung eines Absatzes mit Rahmen und fixer Breite, der lange Wörter enthält, in MSIE 7.0" /></p>

<p>CSS bietet ab Version 3 verschiedene Möglichkeiten diese Fälle zu behandeln, z.b mit der Eigenschaft <code>text-overflow</code> <a href="http://css3clickchart.com/#text-overflow">→</a></p>

<p>Derzeit ist es immer noch notwendig im Text die Soll-Bruchstellen als <code>&amp;shy;</code> einzutragen, damit der Browser dann den Zeilenumbruch korrekt durchführen kann. Die Library <a href="https://code.google.com/p/hyphenator/">hyphenator.js</a> bietet den Umbruch u.a. für englische und deutsche Texte an.</p>

</div>
<div class='slide'>

<h2 id="width-und-auto">Width und Auto</h2>
<p>Normalerweise nimmt ein Block die maximal zur Verfügung stehende Breite ein. Mit
<code>width</code> kann eine andere Breite eines Blocks definiert werden:</p>

<div class="example">
<pre class="lang-css prettyprint linenums">
div#main {  width:500px; }
</pre></div>

<p>Je nach <code>box-sizing</code> müssen Sie die Werte von padding, border, margin dazu
addieren um den Gesamt-Platzbedarf zu errechnen, oder nicht: der default ist
<code>box-sizing: content-box</code>.</p>

</div>
<div class='slide'>



<div class="example">
<pre class="lang-css prettyprint linenums">
box-sizing: content-box;
width: 200px; 
padding: 10px; 
border-width: 10px; 
margin: 32px 0px
</pre></div>

<p>Gesamtbreite inklusive Rahmen = 0px + 10px + 10px + 200px + 10px + 10px + 0px = 240px</p>

<p><img src="/images/image134.png" alt="Abbildung 36: width im Box-Model mit box-sizing: content-box" /></p>

</div>
<div class='slide'>



<div class="example">
<pre class="lang-css prettyprint linenums">
box-sizing: border-box;
width: 200px; 
padding: 10px; 
border-width: 10px; 
margin: 32px 0px
</pre></div>

<p>Gesamtbreite inklusive Rahmen = 0px + 10px + 10px + 160px + 10px + 10px + 0px = 200px</p>

<p><img src="/images/image134-border.png" alt="Abbildung 36a: width im Box-Model mit box-sizing: border-box" /></p>

</div>
<div class='slide'>

<h2 id="zentrieren-mit-auto">Zentrieren mit Auto</h2>

<p>Um einen Element zu zentrieren kann margin mit Wert auto verwendet werden, der den zur Verfügung stehenden Platz automatisch gleichmäßig verteilt.</p>

<p><a href="/images/width-auto.html">Demo-Seite dazu</a></p>

<div class="example">
<pre class="lang-css prettyprint linenums">
div#main {
  width:500px; 
  margin-left:  auto;
  margin-right: auto;
}
</pre></div>

</div>
<div class='slide'>

<h2 id="float">Float</h2>
<p>Eine Möglichkeit aus der normalen Reihenfolge der Darstellung auszubrechen
bietet die Deklaration <code>float</code> mit den Werten <code>left</code> und <code>right</code>. Damit wird 
ein Element nach links bzw. rechts gesetzt, der Rest des Inhalts 
„rutscht nach oben“ und wird neben das Element gesetzt („umfließt das Element“).</p>

<p>Hier sind drei Absätze zu sehen, die jeweils als Erstes ein Bild enthalten. 
Im ersten Absatz ist die Darstellung ganz normal – das Bild wird wie ein Wort 
im Text behandelt. Im zweiten Absatz „floated“ das Bild nach rechts, 
der Text rutscht links davon nach oben. Im dritten Absatz „floated“ 
das Bild nach links, der Text rutscht rechts davon nach oben.</p>

<p><a href="/images/float.html">Beispiel als Demo-Seite</a></p>

<p><img src="/images/image136.png" alt="Abbildung 37: Bilder mit float" /></p>

</div>
<div class='slide'>



<p>Float wurde vor der Einführung von Flexbox und CSS Grid für viele
Layout Aufgaben verwendet.  Heute kommt es nur noch in der hier
beschriebenen Weise bei Bildern zum Einsatz.</p>

</div>
<div class='slide'>

<h2 id="css-grid">CSS Grid</h2>

<p>Um das Layout einer ganzen Seite zu gestalten arbeitet man
mit einen Grid, einem Gitternetz dass man über die ganze Seite legt:</p>

<p><a href="/images/cssgrid.html">Demo-Seite</a></p>

</div>
<div class='slide'>

<h2 id="flexbox">Flexbox</h2>

<p>Flexbox erlaubt flexible Layouts, und wird für kleinere Komponenten
in der Seite eingesetzt, zum Beisiel für eine Bildergallerie.</p>

<p><a href="/images/flexbox.html">Demo-Seite</a></p>

</div>
<div class='slide'>

<h2 id="viele-methoden">Viele Methoden</h2>

<p>Wie Sie gesehen haben gibt es viele CSS-Properties die
das Layout beeinflussen.</p>
</div>
          <div class="slide"><h1>CSS für Layout</h1>
            <p>
            
              
              vorige Präsentation: <a href="/css-layout/responsive//slide.html">Responsive Design</a> |
                        
            <a href="/css-layout/layout/">zurück zum Buch-Kapitel [esc]</a>
            
              
             | Nächste Präsentation <a href="/css-layout/navigation//slide.html">Navigationsmenü</a>
            
            </p>
          </div>
	
<!-- Other extension HTML snippets go here, at the bottom of the deck container. -->
<!-- deck.status snippet -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>

<!-- deck.hash snippet -->
<a href="." title="Permalink to this slide" class="deck-permalink">#</a>

<!-- Update these paths to point to the correct files. -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/deck.core.js"></script>
<script src="/assets/js/deck.hash.js"></script>
<script src="/assets/js/deck.goto.js"></script>
<script src="/assets/js/deck.status.js"></script>

<!-- Add any other extension JS files here -->
<script src="/assets/js/deck.escape.js"></script>

<script src="/assets/js/run_prettify.min.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.deck('.slide');
  });
</script>
</body>
</html>
