

@media screen and (min-width: 738px) and (max-width: 766px) {
  body {
    position: relative;
  }

  .page_container {
    width: 95%;
    min-width: 712px;
    padding-top: 42px;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    box-sizing: border-box;
  }

  .header .logo {
    width: 160px;
  }

  #project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }
}

@media screen and (min-width: 451px) and (max-width: 767px) {
  body {
    position: relative;
  }

  .page_container {
    position: relative;
    box-model: border-box;
    padding: 20px;
  }

  .header {
    width: 100%;
    box-sizing: border-box;
  }

  .header .logo svg {
    width: auto;
    height: 46px;
  }

  #project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }
}

@media screen and (max-width: 450px) {
  body {
    position: relative;
  }

  .page_container {
    position: relative;
    box-model: border-box;
    padding: 10px;
  }

  .header {
    width: 100%;
    box-sizing: border-box;
  }

  .header .logo svg {
    width: auto;
    height: 43px;
  }

  #project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }
}


@media screen and (min-width: 766px) {
  body {
    margin: auto;
    position: relative;
    padding-bottom: 50px;
  }

  .page_container {
    width: 766px;
    padding: 72px 48px 84px;
    margin: auto;
    min-height: 500px;
  }

  .header {
    width: 766px;
  }

  .header .logo {
    width: 160px;
  }
}

/*    Tablet Layout: 768px.    */

@media screen and (min-width: 768px) and (max-width: 860px) {
  body {
    position: relative;
  }

  .page_container {
    width: 95%;
    min-width: 712px;
    padding-top: 42px;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    box-sizing: border-box;
  }

  .header .logo {
    width: 160px;
  }

  #project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }
}

/*  Mobile Layout: 320px.  */

@media screen and (min-width: 451px) and (max-width: 767px) {
  body {
    position: relative;
  }

  .page_container {
    position: relative;
    box-model: border-box;
    padding: 20px;
  }

  .header {
    width: 100%;
    box-sizing: border-box;
  }

  .header .logo svg {
    width: 100px;
    height: auto;
  }

  #project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }
}

@media screen and (max-width: 450px) {
  body {
    position: relative;
  }

  .page_container {
    position: relative;
    box-model: border-box;
    padding: 10px;
  }

  .header {
    width: 100%;
    box-sizing: border-box;
  }

  .header .logo svg {
    width: 100px;
    height: auto;
  }

  #project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  }
}

